<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
<div style="text-align:center">
  <h1>
    Welcome Admin !
  </h1>
  <img width="100" src="https://static.fabhotels.com/icons/logo.svg">

  <br>

  <br>

</div>


<md-tab-group>
  <md-tab label="Users List">
    <md-card *ngIf="users">
      <table style="width:100%">
        <tr>
          <th>Id</th>
          <th>User name</th>
          <th>Password</th>
          <th>Wallet Balance</th>
        </tr>
        <tr *ngFor="let user of users;">
          <th>{{user.userId}}</th>
          <th>{{user.userName}}</th>
          <th>{{user.password}}</th>
          <th>
            <button md-button (click)="getBalance(user.userId)">GET BALANCE</button>
          </th>
        </tr>
      </table>
    </md-card>

  </md-tab>
  <md-tab label="Transactions">
    <md-card *ngIf="transactions">
      <table style="width:100%">
        <tr>
          <th>Transaction Id</th>
          <th>Old Balance</th>
          <th>New Balance</th>
        </tr>
        <tr *ngFor="let user of users;">
          <th>{{user.userId}}</th>
          <th>{{user.userName}}</th>
          <th>{{user.password}}</th>

        </tr>
      </table>
    </md-card>

  </md-tab>
</md-tab-group>
